body {
  margin: 0;
}

#root {
  font-weight: 400;
  width: 100%;
  min-height: 100vh;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  border: 0;
  height: 2px;
  background-color: #f3f3f3;
  margin-left: auto;
  margin-right: auto;
}
